---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import BlogCard from "./BlogCard.astro"
---

<section id="container">

	<h1> This is a website where I keep track of what I am feeling</h1>

	<BlogCard 
	title="Dogs" 
	description="I really like my pet dog" 
	link="https://astro.build" 
	/>

	<BlogCard 
		title=" Cats" 
		description="Cats are extremely cool, and one of my favorite breeds is the tuxedo cat. They are very cute and look like they are wearing a suit" 
		link="https://astro.build" 
	/>


	<BlogCard 
		title="Hiking" 
		description="Have you ever been hiking before? It is very fun and you can have a great adventure with lots of friends!" 
		link="https://astro.build" 
	/>


	<BlogCard 
		title="Building Website" 
		description="The foundation of building a website is HTML and CSS, but frameworks like ASTRO can be useful!" 
		link="https://astro.build" 
	/>

</section>

<style>

h1{
	text-align: center;
}
	
</style>
